<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashify{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body class="h-full bg-gray-50">
    {% block content %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html> 